<h1>New Enrollment Form</h1>

<%= form_for @enrollment do |f| %>
    <%= f.label "Student" %><br>
    <%= f.collection_select(:student_id, @students, :id, :name) %><br>
    <%= f.label "Course" %><br>
    <%= f.collection_select(:course_id, @courses, :id, :name) %><br>
    <%= f.submit "Submit Enrollment" %>
<% end %>